.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f2f2f2;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.logo-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  text-decoration: none;
  color: #333;
}

.nav-link:hover {
  color: #666;
}

.side-section{
  margin-top: 2rem;
  height: 70vh;
  width: 30vw;
  background-color: aquamarine;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-link {
    margin-bottom: 10px;
  }

  .logo-img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  .logo-text {
    font-size: 16px;
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-end;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

  
  